.import
{
	height:100%;
	width:100%;
}

#header
{
	height:75px;
	background-color:#333331;
	padding-top:10px;
}

.button
{
	height:50px;
	text-align:center;
	border:solid #333331 5px;
	border-radius:10px;
	color:#FFFFFF;
}

#but1
{
	background-color:#04B431;
}

#but2
{
	background-color:#2ECCFA;
}

#but3
{
	background-color:#FAAC58;
}

#but4
{
	background-color:#848484;
}

#but5
{
	background-color:#A4A4A4;
}

#but6
{
	background-color:#BE81F7;
}

#but7
{
	background-color:#F4FA58;
}

#but8
{
	background-color:#FE2E2E;
}

.item
{
	position:absolute;
}
